@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #0f1117;
  color: #e8eaf2;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-sm {
  @apply px-3 py-1 text-xs bg-[#22263a] hover:bg-[#2e3348] border border-[#2e3348] rounded-lg text-[#e8eaf2] transition-colors cursor-pointer;
}
